<!-- Component contenant tous les produits en bdd -->

<!-- Searchbar -->
<mat-form-field id="searchbar">
    <input matInput type="search" placeholder="Rechercher" (input)="filterProductsByName()" [(ngModel)]="searchTerm">
    <mat-icon matPrefix>search</mat-icon>
</mat-form-field>

<!-- Bouton d'ajout d'un produit -->
<button id="addProduct" mat-flat-button color="primary" (click)="openAddProductDialog()"><mat-icon>add</mat-icon>Ajouter un produit</button>

<!-- Liste des produit -->
<main class="products">
    @for (product of filteredProducts; track $index) {
        <app-product
        [product]="product"
        [categories]="categories"
        (deleteProduct)="openDeleteDialog($event)"
        ></app-product>
    }
</main>