<!-- Liste de navigation -->
<mat-nav-list>
    <!-- En-tête de sous-section -->
    <div mat-subheader><h1>Navigation</h1></div>
    
    <!-- Page des produits -->
    <mat-list-item routerLink="products" routerLinkActive="active" (click)="appComponent.toggleSidenav()">
        <p>Produits</p>
    </mat-list-item>
    
    <!-- Page des ingrédients -->
    <mat-list-item routerLink="ingredients" routerLinkActive="active" (click)="appComponent.toggleSidenav()">
        <p>Ingrédients</p>
    </mat-list-item>

    <!-- Page des catégories -->
    <mat-list-item routerLink="categories" routerLinkActive="active">
        <p>Catégories</p>
    </mat-list-item>

    <!-- Page des menus -->
     <mat-list-item routerLink="menus" routerLinkActive="active">
        <p>Menus</p>
     </mat-list-item>
</mat-nav-list>