<mat-nav-list cdkDropList (cdkDropListDropped)="drop($event)">
    <div mat-subheader>Catégories de produits :</div>
    @for (category of categories; track $index) {
        <mat-list-item cdkDrag cdkDragLockAxis="y">
            <mat-icon class="drag" matListItemIcon cdkDragHandle>drag_handle</mat-icon>
            @if(!category.editingTitle){
                <button mat-icon-button (click)="toggleEditingTitle(category)"><mat-icon>edit</mat-icon></button>
                {{ category.name }}
            }
            @else {
                <mat-form-field>
                    <input #input matInput autofocus type="text" [value]="category.name" (blur)="toggleEditingTitle(category)" [id]="'category' + category.id">
                </mat-form-field>
            }
        </mat-list-item>
    }
    <button mat-button><mat-icon>add</mat-icon></button>
</mat-nav-list>