mat-nav-list{
    width: 350px;

    mat-list-item{
        mat-icon.drag{
            &:hover{
                cursor: grab;
            }
            &:active{
                cursor: grabbing;
            }
        }
    }
}