@import 'styles/vars.scss';

// Polices faits via Realtime Colors
// https://www.realtimecolors.com/?colors=040407-f5f6fa-26282E-8fa2d9-718ad7&fonts=Varela%20Round-League%20Spartan

// Polices
@import url('https://fonts.googleapis.com/css?family=League%20Spartan:400');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  font-family: 'League Spartan';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Varela Round';
  font-weight: 700;
}

html {font-size: 100%; /* 16px */}

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

body {
  margin: 0;
  padding: 0;
  background-color: $background;
  color: $text;
  min-width: 100vw;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  app-root {
    min-height: 100dvh;
  }

  button {
    background: none;
    border: none;
  }
}