<table mat-table [dataSource]="dataSource" matSort>
    
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><h4>Nom</h4></th>
        <td mat-cell *matCellDef="let ingredient">{{ ingredient.name }}</td>
    </ng-container>

    <ng-container matColumnDef="available">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><h4>Disponibilité</h4></th>
        <td mat-cell *matCellDef="let ingredient">
            <mat-slide-toggle [(ngModel)]="ingredient.available"></mat-slide-toggle>
        </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>
            <h4>Type d'ingrédient</h4>
            <mat-chip-listbox>
                <mat-chip-option selected (click)="filterIngredientsByType('')">Tous</mat-chip-option>
                @for (typeOfIngredient of typesOfIngredient; track $index) {
                    <mat-chip-option (click)="filterIngredientsByType(typeOfIngredient)">{{ typeOfIngredient }}</mat-chip-option>
                }
            </mat-chip-listbox>
        </th>
        <td mat-cell *matCellDef="let ingredient">{{ ingredient.typeOfIngredient.name }}</td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
</table>