mat-form-field{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
}

button#addProduct{
    position: sticky;
    top: 4.5em;
    left: 1em;
    z-index: 3;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 1em;
    column-gap: 1em;
    margin-inline: 1em;
}

//Add Product Dialog
mat-dialog-content{
    form{
        .imageDiv{
            display: flex;
            flex-direction: column;
        }
    }
}