mat-card{
    min-height: 100%;
    padding: 1em;
    img{
        height: 300px;
    }

    .line{
        width: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: 1em;

        mat-form-field{
            width: 100%;
        }
    }

    .line:last-of-type{
        padding-inline-end: 1em;
    }

    mat-slide-toggle{
        padding: 1em;
    }
}

#recipe-dialog{
    width: 70vw;
    max-height: 90vh;

    #menu{
        position: absolute;
        right: 3em;
        top: 3em;
    }

    .ingredients{
        display: grid;
        column-gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1em));
    }
}