<mat-card style="width: 500px;">
    <mat-card-header>
        <mat-card-title>
            <h3>{{ product.name }}</h3>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        @for (typeOfIngredient of typesOfIngredient; track $index) {
            <h2>{{ typeOfIngredient.name }}</h2>
            <mat-form-field>
                <mat-select multiple>
                    @for (ingredient of ingredients; track $index) {
                        @if (ingredient.typeOfIngredient.id === typeOfIngredient.id) {
                            <mat-option [value]="ingredient">
                                {{ ingredient.name }}
                            </mat-option>
                        }
                    }
                </mat-select>
            </mat-form-field>
            <mat-divider></mat-divider>
        }
    </mat-card-content>
    <mat-card-footer>
        <mat-dialog-actions>
            <button mat-button [mat-dialog-close]="false">Annuler</button>
            <button mat-flat-button color="accent" [mat-dialog-close]="true">Enregistrer</button>
        </mat-dialog-actions>
    </mat-card-footer>
</mat-card>