mat-form-field{
    width: 100%;
    top: 0;
}
table{
    .mat-column-edit{
        width: 30px;
    }

    .mat-column-name{
        width: 300px;
    }

    .mat-column-allergenes{
        width: 300px;
    }

    .mat-column-delete{
        width: 50px;
    }
}